{% extends 'SoloistDocumentBundle:Default:base.html.twig' %}
{% block soloist_document_content %}
<h1>Liste des documents</h1>

<ul>
    {% for document in category.documents %}
        <li>{{ document.title }} : <a href="{{ path('soloist_document_download', {'id': document.id}) }}">télécharger</a></li>
    {% else %}
        <li>Aucun document dans cette catégorie</li>
    {% endfor %}
</ul>

{% endblock %}
