{% extends 'SoloistDocumentBundle:Default:base.html.twig' %}

{% block soloist_document_content %}
    <h1>{{ document.title }}</h1>

    <table>
        <thead>
            <tr>
                <th>Nom du fichier</th>
                <th>Type de fichier</th>
                <th>Lien de téléchargement</th>
            </tr>
        </thead>
        <tbody>
        {% for file in document.files %}
            <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.metaData }}</td>
                <td><a href="{{ path('soloist_document_download', { 'id': file.id }) }}">Télécharger</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de fichier pour ce document</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
